.row{
    margin: 0px;
    overflow: hidden;
}

.col{
    width: 5vh;
    height: 5vh;
    margin: 1px;
    border: solid 1px #e1e1e1;
    float: left;
}
.black{
    background-color: black;
}
#stage{

}